:root {
  --color-primary: #a74033;
  --color-secondary: #f8ae1d;
  --color-third: #1d96a7;
  --color-fourth: #3a6795;
}

@font-face {
  font-family: 'FibraOne-Regular';
  src: url("../Fonts/FibraOne-Regular.ttf");
  font-family: 'FibraOne-RegularIt';
  src: url("../Fonts/FibraOne-RegularIt.ttf");
  font-family: 'FibraOne-Heavy';
  src: url("../Fonts/FibraOne-Heavy.ttf");
}

html {
  font-size: 62.5%;
  font-family: 'FibraOne-Heavy', 'Times New Roman', Times, serif;
}

.header {
  background-color: var(--color-secondary);
  height: 70vh;
  position: relative;
}

.nav {
  text-align: center;
}

.logo-box {
  background-image: url("../img/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  height: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.svg-container {
  position: absolute;
  max-width: 30%;
  min-width: 30%;
  bottom: -3.5rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.menus {
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav_link {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding-right: 1rem;
  font-size: 1.4rem;
}

.nav {
  padding-top: 1rem;
}

.button {
  padding: 1.7rem;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.7rem;
}

.button__first {
  background-color: var(--color-primary);
}

.button__second {
  background-color: var(--color-secondary);
}

.button__third {
  background-color: var(--color-third);
}

.button__fourth {
  background-color: var(--color-fourth);
}
