:root {
  --color-primary: #a74033;
  --color-secondary: #f8ae1d;
  --color-third: #1d96a7;
  --color-fourth: #3a6795;
}

@font-face {
  font-family: 'FibraOne-Regular';
  src: url("../Fonts/FibraOne-Regular.ttf");
  font-family: 'FibraOne-RegularIt';
  src: url("../Fonts/FibraOne-RegularIt.ttf");
  font-family: 'FibraOne-Heavy';
  src: url("../Fonts/FibraOne-Heavy.ttf");
  font-family: 'MyriadPro-Regular';
  src: url("../Fonts/MyriadPro-Regular.otf");
}

html {
  font-size: 62.5%;
  font-family: 'FibraOne-Regular', sans-serif;
}

.padding-top {
  padding-top: 1rem;
}

.header {
  background-color: var(--color-secondary);
  height: 70vh;
  position: relative;
}

.nav {
  text-align: center;
}

.logo-box {
  background-image: url("../img/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  height: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.svg-container {
  position: absolute;
  max-width: 30%;
  min-width: 30%;
  bottom: -3.5rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.menus {
  height: 30vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.container-first {
  position: relative;
  background-color: var(--color-primary);
  height: 70vh;
  overflow: hidden;
}

.svg_container__first {
  position: absolute;
  width: 55%;
  bottom: 15%;
  right: -10%;
}

.main-header {
  position: absolute;
  left: 20%;
  top: 20%;
}

.main-text {
  position: absolute;
  left: 20%;
  top: 40%;
  max-width: 30%;
}

@media all and (max-width: 876px) {
  .menus {
    flex-direction: column;
  }
  .svg-container {
    bottom: -1rem;
    max-width: 60%;
  }
}

.nav_link {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 2%;
  font-size: 1.4rem;
}

.nav {
  padding-top: 1rem;
  font-family: 'FibraOne-Heavy', sans-serif;
  font-weight: bold;
}

.button {
  padding: 1.5%;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.7rem;
  font-family: 'FibraOne-Heavy', sans-serif;
  font-weight: bold;
}

.button__first {
  background-color: var(--color-primary);
}

.button__second {
  background-color: var(--color-secondary);
}

.button__third {
  background-color: var(--color-third);
}

.button__fourth {
  background-color: var(--color-fourth);
}

.main-header {
  font-size: 3.6rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}

.main-text {
  font-size: 1.5rem;
  color: #fff;
  font-family: 'FibraOne-Heavy', sans-serif;
}
