// COLORS

:root {
  --color-primary: #a74033;
  --color-secondary: #f8ae1d;
  --color-third: #1d96a7;
  --color-fourth: #3a6795;
  --color-footer: #dfe0e0;
  --color-footer-text: #95979a;
  --color-header-subpage: #e89e1d;
}

// COSTUM FONTS

@font-face {
  font-family: 'FibraOne-Regular';
  src: url('../Fonts/FibraOne-Regular.ttf');
  font-family: 'FibraOne-RegularIt';
  src: url('../Fonts/FibraOne-RegularIt.ttf');
  font-family: 'FibraOne-Heavy';
  src: url('../Fonts/FibraOne-Heavy.ttf');
  font-family: 'MyriadPro-Regular';
  src: url('../Fonts/MyriadPro-Regular.otf');
}

//FONTS

html {
  font-size: 62.5%;
  font-family: 'FibraOne-Regular', sans-serif;
  scroll-behavior: smooth;
}

//UTILITY CLASSES

.uppercase {
  text-transform: uppercase;
}

.padding-top {
  padding-top: 1rem;
}

.padding-bottom {
  padding-bottom: 2rem;
}
