.nav_link {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 2%;
  font-size: 1.4rem;
}

.nav {
  padding-top: 1rem;
  font-family: 'FibraOne-Heavy', sans-serif;
  font-weight: bold;
}

.button {
  padding: 1.5%;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.7rem;
  font-family: 'FibraOne-Heavy', sans-serif;
  font-weight: bold;
}

.button__first {
  background-color: var(--color-primary);
}

.button__second {
  background-color: var(--color-secondary);
}

.button__third {
  background-color: var(--color-third);
}

.button__fourth {
  background-color: var(--color-fourth);
}

.main-header {
  font-size: 3.6rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}

.main-text {
  font-size: 1.5rem;
  color: #fff;
  font-family: 'FibraOne-Heavy', sans-serif;
}
